



@{
    ViewData["Title"] = "About";
}

<br>

<h1 style="color : lightgoldenrodyellow; text-align :center"> About us 
    </h1>

<body class= "WebApp-BackgroundImage">

<p>

    <!--  This is a comment  -->

</p>
    <!---    <img src="~/Images/PotteryBackgound.jpg">    -->

    <div>

        <br>
        <br>

        <p style="color: navajowhite"> Welcome to KhumaloCraft, our little corner of handmade luxury! Founded in 2016, our small craft soap business was born out of a passion for natural ingredients and a desire to bring a touch of indulgence to everyday skincare routines.
            Nestled in the heart of South Africa, we pour our hearts and souls into each and every artisanal soap bar we create. At KhumaloCraft, we handcraft each bar with the finest botanicals and essential oils, ensuring a sensorial skincare experience.
            Our diverse fragrances cater to every mood, from soothing lavender to invigorating citrus.
            Beyond ingredients, we pride ourselves on meticulous attention to detail and sustainability.
            With eco-friendly packaging and a commitment to minimizing our environmental impact, we invite you to join us on a fragrant journey to healthier,
            happier skin—one handmade soap bar at a time.
        </p>

    </div>

  <!--  <img src ="~/Images/icon.jpg " height="50">   -->

 



</body>