
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name" placeholder="Enter your name"></td>
            <td><input type="text" name="surname" placeholder="Enter your surname"></td>
            <td><input type="email" name="email" placeholder="Enter your email"></td>
            <td><input type="tel" name="phone" placeholder="Enter your phone number"></td>
        </tr>
    </tbody>
</table>