<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>




<body>
   

  <!--  <form action="your_form_processing_page.html" method="post"> -->

        <div class="contact-form">

           <form >
               <div class="row">

                <div class="input-group">
                    <input type="text" id="name" required>
                    <label for="name"> Your Name</label>
                </div>
                <div class="input-group">
                    <input type="text" id="number" required>
                    <label for="number"> Phone.no</label>
                </div>

               </div>
              
                <div class="input-group">
                    <input type="email" id="email" required>
                    <label for="email">  Email id </label>
                </div>
                <div class="input-group">
                    <textarea id="message" rows="8" required></textarea>
                    <label for="name"> Your Message</label>
                    <br>
                    <button type="submit">  SUBMIT   </button>
                </div>
           </form>

            
        </div>
 <!--  </form> -->

    <footer class="footer">
      
    </footer>
</body>


</html>