@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <br>
    <br>
    <br>
    <br>
    <p class="privacy-policy">
        At KumaloCraft, our primary goal is to redefine luxury through handcrafted soap.
        We aspire to elevate the everyday cleansing ritual into a sensorial experience that indulges and rejuvenates.
        Our commitment to luxury begins with meticulously sourcing the finest natural ingredients, chosen for their nourishing properties and sustainability.
        Through our artisanal process, we blend these ingredients with care, infusing each bar with a harmonious balance of fragrance, texture, and skincare benefits.
        Our dedication to quality craftsmanship ensures that every bar is a masterpiece, worthy of adorning your bathroom counter.
    </p>
</div>

