
@{
    ViewData["Title"] = "OurProducts";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<body>


    <div class ="gallery">

      

        <div class="content">
            <img src="~/Images/Product1.png" />

            <h3>Handcrafted Goat Milk Soap</h3>

            <p>Goat milk soap is a natural skincare product made from a combination of goat's milk, oils, and lye. Renowned for its gentle and moisturizing properties, goat milk soap is suitable for all skin types, including sensitive and dry skin. </p>
            <h6>R100.00</h6>
                <ul>
                       <li><i class ="fa fa-star checked"></i></li>
                       <li><i class="fa fa-star checked"></i></li>
                       <li><i class="fa fa-star checked"></i></li>
                       <li><i class="fa fa-star checked"></i></li>
                       <li><i class="fa fa-star "></i></li>
                </ul>
                <button class="buy-1">Buy Now</button>

        </div>



        <div class="content">
             <img src="~/Images/Handwash.png" />

            <h3> Irresistible Hand Wash</h3>

            <p>Envelop yourself in a liquid embrace of purity,leaving hands feeling as though they've been caressed by silk.Infused with the finest ingredients,our handwash boasts a symphony of botanical extracts and nourishing oils,meticulously blended to indulge the senses and lavish your skin with unrivaled hydration. </p>

            <h6>R150.00</h6>
         <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
         </ul>
            <button class="buy-2">Buy Now</button>


     </div>

      <div class="content">

            <img src="~/Images/bubbles.png" />

            <h3>Delectable Bubble Bath</h3>

            <p>Immerse yourself in a world of tranquility and luxury with our indulgent bubble bath, a sanctuary of serenity awaiting your every dip. Crafted with the finest botanical extracts and essential oils, each drop of our bubble bath transforms your bathwater into a frothy oasis of relaxation. </p>
                <h6>R200.00</h6>
            <ul>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star "></i></li>
                    <li><i class="fa fa-star "></i></li>
            </ul>
        <button class="buy-3">Buy Now</button>

   
    </div>

  




    </div>
  


</body>
