@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
 <br>
<br>
<br>
<br>
<br>
<p class="privacy-policy">
    
    At our quaint soap shop, we highly value your privacy.
    Our privacy policy is designed to safeguard your personal information, ensuring it remains secure and confidential.
    We collect only necessary data for processing orders and improving your shopping experience, never sharing or selling it to third parties. Rest assured, your trust is paramount to us. For detailed information on how we handle your data, please refer to our privacy terms and conditions available on our website.
    Thank you for entrusting us with your privacy.</p>
